<p>
    <strong>ID:</strong>
    <%= vehicle.id %>
</p>
<p>
    <strong>Title:</strong>
    <%= link_to "#{vehicle.title}", vehicle %>
</p>
<p>
    <strong>Category:</strong>
    <%= vehicle.categories.first.name %>
</p>
<p>
    <strong>Price:</strong>
    <%= vehicle.price.round(2) %>
</p>
<p>
    <strong>Company:</strong>
    <%= vehicle.company %>
</p>