<tr>
    <td><%= profile.id %></td>
    <td><%= profile.first_name %></td>
    <td><%= profile.last_name %></td>
    <td><%= profile.user.email %></td>
    <td><%= profile.location %></td>
    <td><%= profile.birth %></td>
    <td><%= profile.position.name %></td>
    <td>
        <%= link_to "Show", profile %> <br>
        <%= link_to "Cancel Account", '#' %>
    </td>
    <td>
        <% if profile.position.name != 'admin' %>
            <%= button_to 'Admin', change_to_admin_path(profile: profile.id, position: profile.position.id), method: :patch  if profile.position.name != 'admin' %> <br>
            <%= button_to 'Member', change_to_member_path(profile: profile.id, position: profile.position.id), method: :patch if profile.position.name != 'member' %> <br>
            <%= button_to 'Other', change_to_other_path(profile: profile.id, position: profile.position.id), method: :patch  if profile.position.name != 'other' %>
        <% else %>
            <%= "This user is an admin." %>
        <% end %>
    </td>
    <td><%= time_ago_in_words(profile.created_at) %></td>
</tr>