<p>
    <strong>First name:</strong>
    <%= @profile.first_name %>
</p>

<p>
    <strong>Last name:</strong>
    <%= @profile.last_name %>
</p>

<% if @profile.avatar.attached? %>
    <p>
        <%= image_tag(@profile.avatar, width: 100 ) %>
    </p>
<% end %>

<p>
    <strong>Birth:</strong>
    <%= @profile.birth %>
</p>

<p>
    <strong>Location:</strong>
    <%= @profile.location %>    
</p>

<p>
    <strong>Positions:</strong>
    <%= @profile.position.name %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) if @profile.user == current_user %> <br>
<%= link_to 'Back', root_path %>
