<h2>
    <%= "#{step.to_s.humanize}" %>
</h2>
<p>
    <h4>Vehicle details.</h4>
    <p>
        <strong>Vehicle</strong>: <%= "#{@vehicle.title}" %> <br>
        <strong>Type</strong>: <%= "#{@vehicle.categories.first.name}" %> <br>
        <strong>Price</strong>: $<%= "#{@vehicle.price}" %> USD
    </p>
</p>
<p>
    Here goes the bar: <%= ((wizard_steps.index(step).to_d + 1) / wizard_steps.count.to_d) * 100 %>
</p>

<%= form_with model: @vehicle, url: vehicle_vehicle_wizard_path, method: :put do |form| %>

    <div>
        <%= form.label :title %>
        <%= form.text_field :title %>
    </div>

    <div class="field">
        <%= form.label 'Category' %>
        <%= form.collection_select(:category_ids, Category.all, :id, :name, { prompt: ''} ) %>
    </div>

    <div class="field">
        <%= form.label :images %>
        <%= form.file_field :images, multiple: true %>
    </div>

    <% if @vehicle.video.attached? %>
        <div class="field">
            <%= form.label :video %>
            <%= form.file_field :video, value: @vehicle.video %>
        </div>  
    <% else %>
        <div class="field">
            <%= form.label :video %>
            <%= form.file_field :video %>
        </div>  
    <% end %>

    <% if @vehicle.video_thumbnail.attached? %>
        <div class="field">
            <%= form.label :video_thumbnail %>
            <%= form.file_field :video_thumbnail, value: @vehicle.video_thumbnail %>
        </div> 
    <% else %>
        <div class="field">
            <%= form.label :video_thumbnail %>
            <%= form.file_field :video_thumbnail %>
        </div>  
    <% end %>

    <div>
        <%= form.submit %>
    </div>
<% end %>

<p>
    <%= link_to 'Next', next_wizard_path %>
</p>
<p>
    <strong>Name step</strong>: <%= "#{step}" %> <br>
    <strong>Number of stpes</strong>: <%= "#{wizard_steps}" %> <br>
    <strong>Step</strong>: <%= "#{wizard_steps.index(step) + 1}" %> of <%= "#{wizard_steps.count}" %>
</p>
