<%= render 'shared/header' %>
<%= render 'shared/notice' if notice %>
<%= render 'shared/alert' if alert %>

<section class="sign_up_page">

    <h2>
        Create a new account.
    </h2>

    <div class="form_sign_in">
        <%= flash[:recaptcha_error] %>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field">
            <%= f.label :email, class:"form_label" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"field_form" %>
            </div> <br>

            <div class="field">
            <%= f.label :password, class:"form_label" %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
            <%= f.password_field :password, autocomplete: "new-password", class:"field_form" %>
            </div> <br>

            <div class="field">
            <%= f.label :password_confirmation, class:"form_label" %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"field_form" %>
            </div> <br>

            <%= recaptcha_tags %>

            <br>
            <div class="actions">
                <%= f.submit "Sign up", class:"submit_sign_up" %>
            </div> <br>
        <% end %>
    </div>

    <div>
        <%= render "devise/shared/links" %>
    </div>

</section>

<%= javascript_pack_tag 'fixed_sec_menu' %>
