<header class="header_secondary">
    <nav class="nav_secondary">
        <ul>
            <li>
                <img src="<%= asset_path( 'Y.png' ) %>" alt="logo" width="30px">
            </li>
            <li>
                <%= link_to "Car store", root_path, class:"logo_name" %>
            </li>
            <li>
                <%= link_to "Privacy policy", privacy_path, class:"privacy_page" %>
            </li>
        </ul>
        <ul>
            <% if !current_user %>
                <li>
                    <%= link_to "Create account", new_user_registration_path, class:"create_account_button" if !current_user %>
                </li> 
                <li>
                    <%= link_to "Sign in", new_user_session_path, class:"sign_in_button" if !current_user %>
                </li>
            <% else %>
                <% if !current_user.profile.nil? %>
                    <% if current_user.profile.position.name.include? 'admin' %>
                        <li>
                            <%= link_to "Users", profiles_path, class:"item_secondary" %>
                        </li>
                    <% end %>
                    <li>
                        <%= link_to "Posts", posts_path, class:"item_secondary" %>
                    </li>
                
                    <li>
                        <%= link_to "Send invitation", new_user_invitation_path, class:"item_secondary" %>
                    </li>
                    <div class="dropdown_menu">
                        <button class="min_menu_title_one">
                            Share something?
                        </button>
                        <div class="min_menu_list_one">
                            <div>
                                <%= link_to "New vehicle", new_vehicle_path, class:"item_dropdown" %>
                            </div>

                            <div>
                                <%= link_to "New post", new_post_path, class:"item_dropdown" %>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown_menu">
                        <button class="min_menu_title_two">
                            Profile settings
                        </button>
                        <div class="min_menu_list_two">
                            <div>
                                <%= link_to "Edit profile.", profile_path(current_user.profile), class:"item_dropdown_two" %>
                            </div>
                            <div>
                                <%= link_to "Account settings", edit_user_registration_path, class:"item_dropdown_two" %>
                            </div>
                            <div>
                                <%= link_to "My cart", profile_my_cart_path(current_user.profile), class:"item_dropdown_two" %>
                            </div>
                        </div>
                    </div>
                <% end %>
                <li>
                    <%= link_to "Sign out", destroy_user_session_path, method: :delete, class:"sign_out_button" if current_user %>
                </li>
            <% end %>
        </ul>
    </nav>
</header>

<%= javascript_pack_tag 'fixed_sec_menu' %>
<%= javascript_pack_tag 'shared/header' %>
