<header>
    <video id="video_background" muted autoplay loop>
        <source src="<%= asset_path( 'car-video.mp4' ) %>" type="video/mp4">
    </video>
    <nav>
        <ul>
            <li>
                <img src="<%= asset_path( 'Y.png' ) %>" alt="logo" width="30px">
            </li>
            <li>
                <%= link_to "Car store", root_path, class:"logo_name" %>
            </li>
            <li>
                <%= link_to "Privacy policy", privacy_path, class:"privacy_name" %>
            </li>
        </ul>
        <ul>
            <% if !current_user %>
                <li>
                    <%= link_to "Create account", new_user_registration_path, class:"create_account_button" if !current_user %>
                </li> 
                <li>
                    <%= link_to "Sign in", new_user_session_path, class:"sign_in_button" if !current_user %>
                </li>
            <% else %>
                <% if !current_user.profile.nil? %>
                    <li>
                        <%= link_to "New vehicle", new_vehicle_path %>
                    </li>
                    <li>
                        <%= link_to "Posts", posts_path %>
                    </li>
                    <li>
                        <%= link_to "Send invitation", new_user_invitation_path %>
                    </li>
                    <li>
                        <%= link_to "New post", new_post_path %>
                    </li>
                    <li>
                        <%= link_to "#{current_user.email} - #{current_user.profile.position.name}", profile_path(current_user.profile) %>
                    </li>
                    <% if current_user.profile.position.name.include? 'admin' %>
                        <li>
                            <%= link_to "Users", profiles_path %>
                        </li>
                    <% end %>
                    <li>
                        <%= link_to "Account settings", edit_user_registration_path %>
                    </li>
                    <li>
                        <%= link_to "My cart", profile_my_cart_path(current_user.profile) %>
                    </li>
                <% end %>
                <li>
                <%= link_to "Sign out", destroy_user_session_path, method: :delete if current_user %>
                </li>
            <% end %>
        </ul>
    </nav>
    <main>
        <h1>Yorch Car Store.</h1>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br>
        </p>
        <div>
            <button id="see_more_button">See more</button>
        </div>
    </main>
</header>
