<header>
    <ul>
        <li>
            <%= link_to "Car store", root_path %>
        </li>
        <li>
            <%= link_to "Privacy policy", privacy_path %>
        </li>
        <% if !current_user %>
            <li>
            <%= link_to "Sign up", new_user_registration_path if !current_user %>
            </li> 
            <li>
            <%= link_to "Sign in", new_user_session_path if !current_user %>
            </li>
        <% else %>
            <% if !current_user.profile.nil? %>
                <li>
                    <%= link_to "New vehicle", new_vehicle_path %>
                </li>
                <li>
                    <%= link_to "Posts", posts_path %>
                </li>
                <li>
                    <%= link_to "New post", new_post_path %>
                </li>
                <li>
                    <%= link_to "#{current_user.email}", profile_path(current_user.profile) %>
                </li>
                <li>
                    <%= link_to "Account settings", edit_user_registration_path %>
                </li>
                <li>
                    <%= link_to "My cart", profile_my_cart_path(current_user.profile) %>
                </li>
            <% end %>
            <li>
            <%= link_to "Sign out", destroy_user_session_path, method: :delete if current_user %>
            </li>
        <% end %>
    </ul>
</header>