<tr>
    <td><%= order.id %></td>
    <td><%= order.user.profile.first_name %> <%= order.user.profile.last_name %></td>
    <td><%= order.vehicle.title %></td>
    <td><%= order.vehicle.description %></td>
    <td>
        <%= button_to "Buy now", '#', method: :post %>
        <%= button_to "Remove", '#', method: :delete %>
    </td>
</tr>