<%= render 'shared/header_home' %>

<section class="first_section">
    <h1>Yorch Car Store</h1>
    <p class="link_first_section">
        yorch-car-store.herokuapp.com
    </p> <br>
    <div class="images_first_section">
        <div>
            <img src="<%= asset_path( 'audi.png' ) %>" alt="bwm_logo" width="100px">
        </div>
        <div>
            <img src="<%= asset_path( 'bmw.png' ) %>" alt="bwm_logo" width="100px">
        </div>
        <div>
            <img src="<%= asset_path( 'fiat.png' ) %>" alt="bwm_logo" width="100px">
        </div>
        <div>
            <img src="<%= asset_path( 'ford.png' ) %>" alt="bwm_logo" width="100px">
        </div>
        <div>
            <img src="<%= asset_path( 'honda.png' ) %>" alt="bwm_logo" width="100px">
        </div>
        <div>
            <img src="<%= asset_path( 'mercedez.png' ) %>" alt="bwm_logo" width="100px">
        </div>
    </div> <br>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
        Praesentium alias explicabo atque facilis officiis dolorem 
        voluptatum aliquid? Illum consequatur dicta maiores quam voluptate 
        impedit dignissimos architecto quaerat. Sed, alias id.
    </p>
</section>

<section class="second_section">
    <div class="text_second_section">
        <h3>About us</h3> <br>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
            Praesentium alias explicabo atque facilis officiis dolorem 
            voluptatum aliquid? Illum consequatur dicta maiores quam voluptate 
            impedit dignissimos architecto quaerat. Sed, alias id.
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Praesentium alias explicabo atque facilis officiis dolorem <br>
            voluptatum aliquid? Illum consequatur dicta maiores quam voluptate 
            impedit dignissimos architecto quaerat. Sed, alias id.
        </p>
    </div>
    <div>
        <img src="<%= asset_path( 'why-us.png' ) %>" alt="bwm_logo" width="350px">
    </div>
</section>

<section class="third_section">
    <div>
        <img src="<%= asset_path( 'skills.png' ) %>" alt="bwm_logo" width="350px">
    </div>
    <div class="text_third_section">
        <h3>Services and Products</h3> <br>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
            Praesentium alias explicabo atque facilis officiis dolorem 
            voluptatum aliquid? Illum consequatur dicta maiores quam voluptate 
            impedit dignissimos architecto quaerat. Sed, alias id.
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Praesentium alias explicabo atque facilis officiis dolorem <br>
            voluptatum aliquid? Illum consequatur dicta maiores quam voluptate 
            impedit dignissimos architecto quaerat. Sed, alias id.
        </p>
    </div>
</section>

 <section class="fourth_section">
        <h3>Follow us!</h3> <br>
        <p>
            Follow us in our social media.
        </p>
        <ul>
            <li>
                <a href=""><i class="fab fa-google"></i></a>
            </li>
            <li>
                <a href="#"><i class="fab fa-facebook"></i></a>
            </li>
            <li>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </li>
            <li>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
                <a href="#"><i class="fab fa-whatsapp"></i></a>
            </li>
        </ul>
</section> <br>