<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, class:"form_label" %>
    <%= form.text_field :title, class:"field_form", required: true %>
  </div>

  <div class="field">
    <%= form.label :body, class:"form_label" %>
    <%= form.rich_text_area :body, class:"rich_field_form", required: true %>
  </div>

  <div class="new_post_button">
    <%= form.submit class:"create_post_button" %>
  </div>
<% end %>
