<%= form_with(model: vehicle) do |form| %>
  <% if vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
        <% vehicle.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label 'Vehicle title:', class:"form_label" %>
    <%= form.text_field :title, class:"field_form", required: true %>
  </div> <br>
  
  <div class="field">
    <%= form.label 'Category', class:"form_label" %>
    <%= form.collection_select(:category_ids, Category.all, :id, :name, { prompt: ''}, class:"select_field_form" ) %>
  </div> <br>
  
  <div class="field">
    <%= form.label :images, class:"form_label" %>
    <%= form.file_field :images, multiple: true, class:"field_form" %>
  </div> <br>

  <% if vehicle.video.attached? %>
    <div class="field">
      <%= form.label :video, class:"form_label" %>
      <%= form.file_field :video, value: vehicle.video, class:"field_form" %>
    </div>  
  <% else %>
    <div class="field">
      <%= form.label :video, class:"form_label" %>
      <%= form.file_field :video, class:"field_form" %>
    </div>  
  <% end %> <br>

  <% if vehicle.video_thumbnail.attached? %>
    <div class="field">
      <%= form.label :video_thumbnail, class:"form_label" %>
      <%= form.file_field :video_thumbnail, value: vehicle.video_thumbnail, class:"field_form" %>
    </div> 
  <% else %>
    <div class="field">
      <%= form.label :video_thumbnail, class:"form_label" %>
      <%= form.file_field :video_thumbnail, class:"field_form" %>
    </div>  
  <% end %> <br>

  <div class="field">
    <%= form.label :description, class:"form_label" %>
    <%= form.rich_text_area :description, class:"rich_field_form" %>
  </div> <br>

  <div class="field">
    <%= form.label :price, class:"form_label" %>
    <%= form.text_field :price, class:"field_form", required: true %>
  </div> <br>

  <div class="field">
    <%= form.label :company, class:"form_label" %>
    <%= form.text_field :company, class:"field_form", required: true %>
  </div> <br>

  <div class="new_vehicle_button">
    <%= form.submit class:"create_vehicle_button" %>
  </div> <br>

<% end %>
