<tr>
    <td><%= vehicle.id %></td>
    <td><%= link_to "#{vehicle.title}", vehicle %></td>
    <td><%= vehicle.categories.first.name %></td>
    <td><%= vehicle.description.to_s[0..100] %>...</td>
    <td><%= vehicle.price.round(2) %></td>
    <td><%= vehicle.company %></td>
    <td><%= vehicle.user.email %></td>
</tr>