<%= render 'shared/header' %>
<%= render 'shared/notice' if notice %>
<%= render 'shared/alert' if alert %>

<h1>New Vehicle</h1>

<%= render 'form', vehicle: @vehicle %>

<%= link_to 'Back', root_path %>
