<%= render 'shared/header' %>
<%= render 'shared/notice' if notice %>
<%= render 'shared/alert' if alert %>

<section class="new_vehicle_form">
    <h1>
        New Vehicle
    </h1>
    <div>
        <%= render 'form', vehicle: @vehicle %>
    </div>
    <div>
        <%= link_to 'Back', :back, class:"go_back_button" %>
    </div>
</section>
