<p>
    <strong>ID number:</strong>
    <%= @vehicle.id %>
</p>
<p>
    <strong>Title:</strong>
    <%= @vehicle.title %>
</p>

<p>
    <strong>Category:</strong>
    <%= @vehicle.categories.first.name %>
</p>

<p>
    <strong>Seller:</strong>
    <%= @vehicle.user.email %>
</p>

<% if @vehicle.images.attached? %>
    <p>
        <strong>Images:</strong> <br>
        <% @vehicle.images.each do |image| %>
        <img src="<%= rails_blob_url(image) %>" alt="image" width="20%">
        <% end %>
    </p>
<% end %>

<p>
    <strong>Description:</strong>
    <%= @vehicle.description %>
</p>

<p>
    <strong>Price:</strong>
    $<%= @vehicle.price.round(2) %> USD
</p>

<p>
    <strong>Company:</strong>
    <%= @vehicle.company %>
</p>

<% if @vehicle.video.attached? || @vehicle.video_thumbnail.attached? %>
    <p>
        <strong>Video</strong> <br>
        <% if @vehicle.video.attached? %>
            <% if @vehicle.video.attached? && !@vehicle.video_thumbnail.attached? %>
                <video controls="true" width="20%" preload="metadata">
            <% elsif @vehicle.video.attached? && @vehicle.video_thumbnail.attached? %>
                <video controls="true" poster="<%= url_for @vehicle.video_thumbnail %>" width="20%" preload="metadata">
            <% end %>
            <source src="<%= rails_blob_url(@vehicle.video) %>" type="<%= @vehicle.video.content_type %>" >
            </video>
        <% end %>
        <% if @vehicle.video_thumbnail.attached? && !@vehicle.video.attached? %>
            You won't be able to see the video thumbail image unless you upload a video.
        <% end %>
    </p>
<% end %>

<div class="reviews">
    <%= render 'reviews/review' %>
</div>

<%= button_to "Delete video and video_thumbnail",  delete_media_path(id: @vehicle.id), method: :delete if @vehicle.video.attached? || @vehicle.video_thumbnail.attached? %>
<%= "You own this vehicle." if current_user == @vehicle.user %> <br>
<%= button_to "Add to my cart", add_to_cart_path(user_id: current_user.id, vehicle_id: @vehicle.id), method: :post if current_user != @vehicle.user %>
<%= link_to "Edit", vehicle_vehicle_wizard_index_path(@vehicle) if current_user == @vehicle.user %> <br>
<%= link_to 'Destroy', @vehicle, method: :delete, data: { confirm: 'Are you sure?' } if @vehicle.user == current_user %> <br>
<%= link_to 'Back', root_path %> <br>
<br>
<section>
    <span>
        Comments <%= @vehicle.comments.count %>
    </span>
    <% if @vehicle.comments %>
        <% @vehicle.comments.each do |comment| %>
            <%= render comment %>
        <% end %>
    <% else %>
        <div>
            Here goes all the vehicle's comments.
        </div>
    <% end %>
</section>

<section>
    <h2>Add a comment.</h2>
    <div>
        <%= render 'comments/form', comment: @comment %>
    </div>
</section>

<%= javascript_pack_tag 'test' %>