<%= form_with model: [@vehicle, Review.new] do |form| %>
    <div>
        <%= form.label :body %>
        <%= form.text_field :body %>
    </div>
    <div>
        <%= form.label :rating %>
        <%= form.select :rating, Review.ratings  %>
    </div>
    <div>
        <%= form.submit 'Add review.' %>
    </div>
<% end %>