<div>
    <h2>Edit review</h2>
    <%= form_with(model: [@vehicle, @review], local: true) do |form| %>
        <div>
            <%= form.label :body %>
            <%= form.text_field :body %>
        </div>
        <div>
            <%= form.label :rating %>
            <%= form.select :rating, Review.ratings  %>
        </div>
        <div>
            <%= form.submit %>
        </div>
    <% end %>
    <%= link_to 'Back', :back %>
</div>